{% extends "sidebar.html" %}
{% load static %}
{% load custom_tags %}

{% block main_content %}

  <div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="p-5">
            <div class="text-center mb-4">
              <h1 class="h4 text-gray-900">{{ title }}</h1>
            </div>

            <form method="post" class="user">
              {% csrf_token %}
              {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field|add_class }}
                  {% if field.errors %}
                    <small class="text-danger">{{ field.errors|striptags }}</small>
                  {% endif %}
                </div>
              {% endfor %}

              <button type="submit" class="btn btn-primary btn-user btn-block">Guardar</button>
              <a href="{% url view.success_url %}" class="btn btn-secondary btn-user btn-block">Cancelar</a>
              {% if delete_url and view.object.pk %}
                <button type="button" class="btn btn-outline-danger btn-user btn-block" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                  Eliminar
                </button>
              {% endif %}

            </form>

            <hr>
            <div class="text-center">
              <a class="small" href="#">¿Necesitas ayuda?</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal de confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="confirmDeleteLabel">¿Eliminar este registro?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        Esta acción no se puede deshacer. ¿Estás seguro que deseas eliminar este registro?
      </div>
      <div class="modal-footer">
        <form method="post" action="{% url delete_url pk=view.object.pk %}">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
